@import "tailwindcss";

@plugin "tailwindcss-animate";
/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --color-teal: #00d5ff;
  --color-blue: #268ceb;
  --color-purple: #7044ec;

  --font-geist-mono: geist-mono;
  --font-inter: inter;

  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1440px;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-text-alt: var(--text-alt);
  --color-gradient: var(--gradient);
  --color-teal-burger: var(--burger);
  --color-accent: var(--accent);
}

[data-theme="light"] {
  --background: #d1d4db;
  --text: #10111c;
  --text-alt: #d1d4db;
  /* --gradient: linear-gradient(
    180deg,
    rgba(230, 233, 239, 1) 0%,
    rgba(26, 45, 64, 1) 110%
  ); */
  /* --gradient: linear-gradient(
    180deg,
    rgba(16, 17, 28, 1) 0%,
    rgba(26, 45, 64, 1) 110%
  ); */
  --burger: rgba(112, 68, 236, 1);
  --accent: #7044ec;
}

[data-theme="dark"] {
  --background: #10111c;
  --text: #fefcfa;
  --text-alt: #10111c;
  /* --gradient: linear-gradient(
    180deg,
    rgba(16, 17, 28, 1) 0%,
    rgba(26, 45, 64, 1) 110%
  ); */
  /* --gradient: linear-gradient(
    180deg,
    rgba(230, 233, 239, 1) 0%,
    rgba(26, 45, 64, 1) 110%
  ); */
  --burger: rgba(0, 213, 255, 0.3);
  --accent: #cbf278;
}
